<div style="padding-bottom:15px;">
  <h4 style="display:inline">
    <strong><u><%= @chatroom.name %> chatroom</u></strong>
  </h4>
  <span style="float:right">
    <%= link_to "Back to chatrooms", chatrooms_path %>
  </span>
</div>

<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
  <%= f.text_area :body, rows: 1, autofocus: true, class: "form-control" %>
<% end %>


