<div style="padding-bottom:16px;">
  <h4 style="display:inline">
    <strong><u><%= @chatroom.name %> chatroom</u></strong>
  </h4>
  <span style="float:right">
    <%= link_to "Back to chatrooms", chatrooms_path %>
  </span>
</div>

<% unread_messages = false %>
<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @messages.each do |message| %>
    <% if !unread_messages && @chatroom_user.checked_at < message.created_at %>
      <% unread_messages = true %>
      <div class="strike"><span>Unread messages</span></div>
    <% end %>

    <%= render message %>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
  <%= f.text_area :body, rows: 1, autofocus: true, class: "form-control" %>
<% end %>


